<h1><%= Ryan.last_location.to_s %></h1>
<%= gmaps("map_options" => { 
								"detect_location" => false, 
								"center_on_user" => false, 
								"auto_zoom" => false, 
								"zoom" => 3},
								# "rich_marker" => true},
                "markers" => { "data" => RyanLocation.all.to_gmaps4rails }) %>
<!--           "markers" => { "data" => '[{ "description": "", "title": "qqq", "lat": "-37.90024618", "lng": "145.14505232", "picture": "", "width": "", "height": "" } ,{ "description": "", "title": "", "lng": "2.3509871", "lat": "48.8566667", "picture": "", "width": "", "height": "" } ]' }) %>
 -->

<div class="row-fluid">
  <div class="span12">
    <h4>Based on location data from <%=Ryan.count%> Ryan Bigg tweets (and any tweet with <%=link_to "#withryanbigg", "https://twitter.com/#!/search/realtime/%23withryanbigg"%>)</h4>
    <p>You can help track Ryan.  
        Tweet with hash tag <%=link_to "#withryanbigg", "https://twitter.com/#!/search/realtime/%23withryanbigg"%> 
        (<%= link_to "with location enabled", "https://support.twitter.com/articles/122236"%>)</p>
  </div>
 </div>

<div class="row-fluid">    
  <div class="span6 title-box">
    <h1>Recent Tweets</h1>
    <div class="tweets">
      <% Ryan.limit(20).each do |tweet| %>
        <div class="ryan-tweet">
          <div class="ryan-pic-div">
            <%=link_to image_tag("superman.png", :width => "48px"), "https://twitter.com/ryanbigg/status/#{tweet.tweet_id}", :target => "_ryantweet" %>
          </div>
          <div class="ryan-tweet-div">
            <%=link_to tweet.tweet, "https://twitter.com/ryanbigg/status/#{tweet.tweet_id}", :target => "_ryantweet" %>
          </div>
          <br/>
        </div>
      <% end %>
    </div>
	</div>

  <div class="span6 title-box">
    <h1>Recent Locations</h1>
  	<ul>
  		<% RyanLocation.all.collect(&:full_name).uniq[0..20].each do |loc| %>
  			<li><%=loc%></li>
  		<% end %>
  	</ul>
  </div>
</div>


