<h1><%= Ryan.last_location.to_s %></h1>

<%= gmaps("map_options" => { 
								"detect_location" => false, 
								"center_on_user" => false, 
								"auto_zoom" => false, 
								"zoom" => 3},
								# "rich_marker" => true},
					"markers" => { "data" => RyanLocation.all.to_gmaps4rails }) %>

<div class="row-fluid">
  <div class="span12">
    <h2>Based on location data from <%=Ryan.count%> Ryan Bigg tweets (and any tweet with <%=link_to "#withryanbigg", "https://twitter.com/#!/search/realtime/%23withryanbigg"%>)</h2>
		<div class="row-fluid">
		  <div class="span6">
		  	<h3>Last 100 Tweets</h3>
			  <ul>
					<% Ryan.limit(100).each do |tweet| %>
						<li><%=link_to tweet.tweet, "https://twitter.com/ryanbigg/status/#{tweet.tweet_id}", :target => "_ryantweet" %></li>
					<% end %>
				</ul>
			</div>
		  <div class="span6">
		  	<h3>Locations</h3>
		  	<ul>
		  		<% RyanLocation.all.each do |loc| %>
		  			<li><%=loc.full_name%></li>
		  		<% end %>
		  	</ul>
		  </div>
		</div>
	</div>
</div>
